<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwiaryantodiowicaksono_3145161971_mobcom.ytapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YtApps">
        <activity android:name=".Taegeuk8"></activity>
        <activity android:name=".Taegeuk6" />
        <activity android:name=".Taegeuk7" />
        <activity android:name=".Taegeuk5" />
        <activity android:name=".Taegeuk4" />
        <activity android:name=".Taegeuk3" />
        <activity android:name=".Taegeuk2" />
        <activity android:name=".Taegeuk1" />
        <activity android:name=".KyourugiKickDetail" />
        <activity android:name=".Knowledge" />
        <activity android:name=".Basic" />
        <activity android:name=".Kyourugi" />
        <activity android:name=".Poomsae" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>